.detail-container {
    margin-top: 20px;
  }
  
  .detail-container img {
    width: 700px; /* Större bild för vald maträtt */
    border-radius: 10px;
  }
  
  .detail-container p {
    margin: 5px 0;
  }
  