.detail-container {
  display: flex; /* Lägger till flexbox */
  flex-direction: column; /* Element ordnas vertikalt */
  justify-content: center; /* Centrerar innehållet vertikalt */
  align-items: center; /* Centrerar innehållet horisontellt */
  margin-top: 20px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  padding-bottom: 2rem;
}

.information{
max-height: 50vh; 
scroll-behavior: smooth;
scrollbar-color: rgb(255, 198, 112) rgb(46, 44, 40);
overflow-y: auto; 
list-style: none; 
color: rgb(255, 198, 112);
background-color: rgb(46, 44, 40);
border-radius: 10px;
list-style: none;
width: 550px;
padding: 2rem;
padding-bottom: 2rem;
}

.detail-container img {
  border: 2px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  width: 550px; /* Storlek för vald bild */
  max-height: 450px; /* Storlek för vald bild */
  max-width: 100%; /* Gör att bilden inte blir större än sin behållare */
  height: auto; /* Behåller bildens proportioner */
  border-radius: 10px;
  margin: 0 auto; /* Centrerar bilden horisontellt */
}

.detail-container h1 {
  margin: 0;
  color: rgb(49, 171, 25);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center; /* Centrerar texten */
}
.detail-container p {
  font-size: 1rem;
  text-align: center; /* Centrerar texten */
}

.rating-container {
  display: flex; /* Lägger till flexbox */
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center; /* Centrerar innehållet vertikalt */
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 1rem;
}

.rating-container p {
  margin: 0;
  padding: 0 1rem;
}

#rating {
  color: rgb(5, 5, 5);
  background-color: rgb(49, 171, 25);
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.detail-container h2 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center; /* Centrerar texten */
}

.detail-container ul {
  display: flex; /* Lägger till flexbox */
  flex-direction: column; /* Element ordnas vertikalt */
  align-items: center; /* Centrerar innehållet horisontellt */
  padding: 0;
  margin: 0;
  list-style: none; /* Tar bort punkterna från listan */
  padding-bottom: 1rem;
}

.selectmeal {
  display: flex; /* Lägger till flexbox */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1rem;
}

.instruktioner {
  display: flex; /* Lägger till flexbox */
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
}
