
.header-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 100%;
    height: 70vh;
}

.header-container img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 0;
}

.header-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    z-index: 1;
    display: flex;
    font-size: 7rem;
    color: rgb(232, 172, 83);
    text-align: center;
    margin-top: 45%;
    letter-spacing: 0.5rem;
    font-weight: 700;
}

.header-overlay {
    position: absolute;
    top: 0;
    margin: 0 30%;
    z-index: 1;
}

.Navbar {
    display: flex;
}

@media screen and (max-width: 768px) {
   .header-container{
       height: 20vh;
       width: 100%;
       justify-content: center;
    }

    .header-container h1{
        display:none;
    }

    .header-overlay {
        display: flex;
        margin: 0;
        z-index: 1;
    }

    .header-container img {
        height: 20vh;
        width: 100%;
        object-fit: cover;
    }
}