.app-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-detail-container {
  flex: 1; /* Gör så att varje container tar upp lika mycket utrymme */
  padding: 20px; /* Lägg till lite mellanrum mellan dina containers */
}

 body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color:  rgb(232, 172, 83);
}

@media screen and (max-width: 768px) {
  .app-container {
    margin-top: 20px; /* Lägg till lite mellanrum på mindre skärmar */
    flex-direction: column; /* Gör så att containers hamnar ovanpå varandra på mindre skärmar */
    align-items: center; /* Centrerar innehållet vertikalt */
    width: 100%;
  }
  .search-detail-container {
    padding: 0; /* Ta bort padding på mindre skärmar */
  }
}